@import './src/sass/variables';

app-player {
    display: block;
    width: 95%;
    height: 100%;

  .player-wrap {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* margin: 0 4.7% 0 -0.3%; */
    padding: 5%;
  }

  .video-wrap {
    height: 4em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    flex-grow: 1;
    opacity: 0;
    transition: opacity 0.6s ease-in;

    video {
      height: 100%;
    }
  }

  .on {
    opacity: 1;
  }

  .vert {
    width: 25.875em;
  }

  .horz {
    width: 46em;
  }

}



/* ----------------------------- PORTRAIT ----------------------------- */
/* phones & general portrait */
@media screen and (orientation: portrait) {
  .player {
    app-player {
      width: 100%;
    }
  }

  app-player {
    .video-wrap {
      font-size: 0.5em;
    }
  }
}

/* med phones: iPhone 6, 7, 8 */
@media screen and (min-width: 23.4em) and (orientation: portrait) {
  app-player {
    .video-wrap {
      font-size: 0.6em;
    }
  }
}

/* long phones: iPhoneX */
@media screen and (min-height: 50em) and (orientation: portrait) {
  app-player {
    .video-wrap {
      font-size: 0.58em;
    }
  }
}

/* large phones: iPhone 6, 7, 8 Plus, Pixel 2, Pixel 2 XL */
@media screen and (min-width: 25.6em) and (orientation: portrait) {
  app-player {
    .video-wrap {
      font-size: 0.65em;
    }
  }
}

/* tablets, iPads */
@media screen and (min-height: 52em) and (orientation: portrait) {
  app-player {
    .video-wrap {
      font-size: 1em;
    }
  }
}

/* large tablets, iPad Pro */
@media screen and (min-width: 64em) and (orientation: portrait) {
  app-player {
    .video-wrap {
      font-size: 1.25em;
    }
  }
}

/* -------------------------------------------------------------------- */



/* ----------------------------- LANDSCAPE ----------------------------- */
/* phones */
@media screen and (orientation: landscape) {
  app-player {
    .video-wrap {
      font-size: 0.6em;
    }
  }
}

/* medium phones: iPhone 6, 7, 8 */
@media screen and (min-width: 40em) and (orientation: landscape) {
  app-player {
    .video-wrap {
      font-size: 0.7em;
    }
  }
}

/* large phones: iPhone 6, 7, 8 Plus, Pixel 2 */
@media screen and (min-width: 45em) and (orientation: landscape) {
  app-player {
    .video-wrap {
      font-size: 0.8em;
    }
  }
}

/* tablets, iPads, small laptop/desktop */
@media screen and (min-width: 60em) and (orientation: landscape) {
  app-player {
    .video-wrap {
      font-size: 0.9em;
    }
  }
}

/* laptops, desktops */
@media screen and (min-width: 80em) and (orientation: landscape) {
  app-player {
    .video-wrap {
      font-size: 1em;
    }
  }
}

/* -------------------------------------------------------------------- */
