@import './src/sass/variables';

app-player {
  .player-wrap {
    height: calc(100% + 8vh);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: -4vh 4.7% 0 -0.3%;
    padding: 0 5%;
    background-color: darken($darker-grey, 3);
  }

  .video-wrap {
    display: inline-flex;
    justify-content: center;
    align-items: flex-end;
    flex-grow: 1;
    flex-shrink: 1;
    max-height: 54%;

    video {
      max-width: 90%;
    }
  }

  .line {
    width: 100%;
    margin: 3rem 0 2.8rem;
    border-top: thin solid $light-grey;
  }

  .desc-wrap {
    font-size: 1.2rem;
    line-height: 1.5em;
    padding: 0 1.5rem;
    text-align: justify;

    p {
      width: 40em;
      margin: 0;
    }
  }
}
