/* mixins */

@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    border-radius: $radius;
}

@mixin box-shadow($opacity) {
    -webkit-box-shadow: 0px 0px 1.25em 0.125em rgba(0, 0, 0, $opacity);
    -moz-box-shadow: 0px 0px 1.25em 0.125em rgba(0, 0, 0, $opacity);
    box-shadow: 0px 0px 1.25em 0.125em rgba(0, 0, 0, $opacity);
}

@mixin transition($a1, $a2:"", $a3:"", $a4:"", $a5:"") {
    -o-transition: $a1 unquote($a2) unquote($a3) unquote($a4) unquote($a5);
    -ms-transition: $a1 unquote($a2) unquote($a3) unquote($a4) unquote($a5);
    -moz-transition: $a1 unquote($a2) unquote($a3) unquote($a4) unquote($a5);
    -webkit-transition: $a1 unquote($a2) unquote($a3) unquote($a4) unquote($a5);
    transition: $a1 unquote($a2) unquote($a3) unquote($a4) unquote($a5);
}