@import './src/sass/variables';

nav {
  top: calc(50% + 0.4em);
  left: calc(50% - 2.5em);
  position: absolute;
}

ul {
  display: flex;
  flex-flow: row;
  float: left;
  padding: 0;
}

ul, .line {
  transform: rotate(-90deg);
  transform-origin: left top 0;
}

li {
  font-family: 'Audiowide', sans-serif;
  font-size: 1.6em;
  margin: 0 0.5em 0;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  display: inline-flex;
}

a {
  color: $light-grey;
  text-decoration: none;
  cursor: pointer;
  user-select: none;
}

a:active, a[data-active="1"] {
  color: $lighter-grey;
}

.line {
  margin-left: 2.5em;
  margin-top: 0.9em;
  background-color: $light-grey;
  border-right: 0.6em solid $darker-grey;
  height: 0.6em;
  width: 100%;
}