<!-- <div class="page portfolio {{projects[index].id}}">
    <div class="content-wrap">
        <div class="left">
            <div id="text-holder">
                <h1 class="project-type" ng-repeat="type in types" data-type="{{type.id}}">{{type.text}}</h1>
                <section class="project-role" ng-repeat="role in roles" data-role="{{role.id}}">
                    <h2>
                        <span class="tab">me</span>{{role.me}}</h2>
                    <h2>
                        <span class="tab">&nbsp;&nbsp;&nbsp;&#64;</span>{{role.company}}</h2>
                </section>
                <section class="project-info" ng-repeat="project in projects" data-index="{{project.index}}">
                    <p>myWork.projects[
                        <span class="number">{{project.index}}</span>].
                        <span class="keyword">info</span>
                        <span class="operator">=</span> {</p>
                    <p>
                        <span class="tab"></span> name:
                        <span class="string name">'{{project.name}}'</span>,</p>
                    <p ng-repeat="info in project.info" ng-bind-html="info"></p>
                    <p>};</p>
                </section>

            </div>
        </div>

        <div class="right">
            <div class="spacer"></div>
            <div id="image-holder">
                <div class="portfolio-image" ng-repeat="project in projects" ng-style="{ 'background-image': project.image }" id="{{project.id}}"></div>
            </div>
            <div class="spacer"></div>
            <div class="block top"></div>
            <div class="block bottom"></div>
        </div>
    </div>

    <div class="gutter right">
        <div id="dot-holder">
            <div class="dot" ng-repeat="project in projects" data-index="{{project.index}}" ng-class="{ 'on' : index == project.index}"
                ng-click="goTo(project.index)"></div>
        </div>
    </div>

</div> -->
