@import './src/sass/variables';
@import './src/sass/mixins';

#image-holder {
  width: $right-width;
  height: auto;
  display: inline-block;
  position: relative;
  /* margin-top: 30em; */
  visibility: hidden;
}

.portfolio-image {
  width: $right-width;
  height: $right-image-height;
  background: transparent no-repeat;
  background-size: cover;
  background-position-y: 30em;
  cursor: pointer;
}

.play-btn-holder {
  height: 45%;
  max-height: 13rem;
  margin-top: calc(2em + 5%);
  position: relative;

  #svg-play-btn {
    cursor: pointer;
    .more {
      font-family: 'Exo 2', sans-serif;
      font-size: 16px;
      font-weight: 700;
    }
  }
}

.gutter.right {
  display: table;

  #dot-holder {
    display: table-cell;
    vertical-align: middle;

    .dot {
      width: 1.2em;
      height: 1.2em;
      margin: 1em auto;
      background-color: $light-grey;
      border: 0.15em solid $lighter-grey;
      @include border-radius(50%);
      cursor: pointer;
    }

    .dot.on {
      background-color: $white;
      border: 0.15em solid $white;
    }
  }
}

/* projects */
@import "projects-scss/pinpoint";
@import "projects-scss/train-to-tend";
@import "projects-scss/project-strong";
@import "projects-scss/bevac";
@import "projects-scss/step-for-life";
@import "projects-scss/momzing";
@import "projects-scss/bub-and-bot";
@import "projects-scss/milk-stache";
@import "projects-scss/astro-pop";